{
  "extends": ["standard", "standard-jsx", "standard-react"],
  "plugins": ["@emotion", "jest"],
  "rules": {
    "@emotion/pkg-renaming": "error",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  },
  "env": {
    "jest/globals": true
  }
}